ETHERSCAN_API_KEY=ABC123ABC123ABC123ABC123ABC123ABC1
ROPSTEN_PROVIDER_URL=https://eth-ropsten.alchemyapi.io/v2/<YOUR ALCHEMY KEY>
PRIVATE_KEY=<YOUR PRIVATE KEY>

// charity token
VITE_CROWDSALE_ADDRESS=0x0721af0a69a65698941c50C8ab0dff796F138AF9

// token swap address
VITE_CONTRACT_ADDRESS=0x05f726741508CbA5fBE4d143596B01B220a30492

VITE_PROVIDER_URL1="https://data-seed-prebsc-1-s1.binance.org:8545"
VITE_PROVIDER_URL="https://bsc-dataseed.binance.org"
