ETHERSCAN_API_KEY=ABC123ABC123ABC123ABC123ABC123ABC1
ROPSTEN_PROVIDER_URL=https://eth-ropsten.alchemyapi.io/v2/<YOUR ALCHEMY KEY>
PRIVATE_KEY=<YOUR PRIVATE KEY>
VITE_CROWDSALE_ADDRESS=0xCED7fAA3a284819BeB3beF397Fd8D201eb1b4028
VITE_PROVIDER_URL2="https://data-seed-prebsc-1-s1.binance.org:8545"
VITE_PROVIDER_URL="https://bsc-dataseed.binance.org"
